<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <title>guest</title>
    </head>
    <body>
            <% media.forEach(function(media){ %>
                <li><a href="media?title=<%= media %>&part=0"> <%= media %></a> </li>
                <% }) %>
    </body>
</html>
