<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>watch</title>
   <style>
       
   </style>
</head>
   <body>
       <div id="video"  controls poster="/">
            <video id="vidPlayer" controls src="/video/<%= vid %>">
                    Your browser does not support the video.
            </video> 
       </div>
       <div id="info">
            <img src="/poster/<%= vid %>" alt="movie poster" height="200" width="150">
            <div id="description">
                <%= description %>
            </div> 
       </div>
       <div id="parts">
            <ul>
                    <% parts.forEach(function(part) { %>
                        <li><%= part.name %></li>
                    <% }); %>
                </ul>
        </div>
        <script>
        </script>
  
   </body>
</html>